.profile-card {
  border: 1px solid black;
  padding: 10px;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.delete-btn,
.show-info {
  margin: 5px;
  padding: 5px;
}

.Q3-container {
  display: flex;
  gap: 20px;
}

.user-info {
  border: 1px solid black;
  padding: 10px;
}
